.blanket {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2500;
}
.shadow,
.popup {
    left: 50%;
    position: fixed;
    top: 50%;
}
.popup {
    z-index: 3000;
}
.shadow {
    z-index: 2999;
}
.shadow * {
    position: absolute;
}
.shadow .tl {
    background: url(images/shadow/lt.png);
    height: 17px;
    left: 0;
    top: 0;
    width: 16px;
}
.shadow .tr {
    background: url(images/shadow/rt.png);
    height: 17px;
    right: 0;
    top: 0;
    width: 16px;
}
.shadow .br {
    background: url(images/shadow/rb.png);
    bottom: 0;
    height: 29px;
    right: 0;
    width: 29px;
}
.shadow .bl {
    background: url(images/shadow/lb.png);
    bottom: 0;
    height: 29px;
    left: 0;
    width: 29px;
}
.shadow .b {
    background: url(images/shadow/b.png);
    bottom: 0;
    height: 29px;
    left: 29px;
    width: 29px;
}
.shadow .l {
    background: url(images/shadow/l.png);
    left: 0;
    top: 17px;
    width: 16px;
}
.shadow .r {
    background: url(images/shadow/r.png);
    right: 0;
    top: 17px;
    width: 16px;
}
.dialog {
    border: 1px solid #666;
    font-size: 1.2em;
    overflow: hidden;
}
.dialog h2 {
    background: #f0f0f0;
    color: #666;
    font-size: 1.1em;
    height: 43px;
    line-height: 43px;
    margin: 0;
    overflow: hidden;
    padding: 0 1em;
    position: relative;
}
.dialog .page-menu {
    background: #fff;
    border-right: 1px solid #f0f0f0;
    float: left;
    height: 100%;
    list-style: none;
    margin: 0 1.17em 0 0;
    padding: 10px 0 0 0;
    width: 25%;
}
.dialog .page-menu li {
    margin: 0;
    padding: 0;
}
.dialog .page-menu li.selected {
    background: #69c;
    color: #fff;
}
.dialog .page-menu li.selected button {
    color: #fff;
    font-weight: 800;
}
.dialog .page-menu li button {
    background: none;
    border: none;
    color: #666;
    font-family: "segoe ui", helvetica, arial, sans-serif;
    font-size: .8em;
    padding: .4em 1.2em;
    text-align: left;
    width: 100%;
}
.dialog .panel-body {
    overflow: auto;
    padding: 10px;
}
.dialog .page-body {
}
.dialog .page-body p {
    margin: 0;
}
.dialog .button-panel {
    background: #fff;
    border-top: 1px solid #f0f0f0;
    clear: both;
    height: 23px;
    overflow: hidden;
    padding: 10px 0 10px 0;
    text-align: right;
    width: 100%;
}
.dialog .button-panel button {
    font-size: 0.75em;
    margin-right: 1.65em;
    margin-top: 2px;
}
.dialog .button-panel button.left {
    float: left;
    margin: 0 0 0 0.5em;
}
