/* CSS Document for form styling - REQUIRES class of 'aui' to form */
form.aui,form.aui p,form.aui div,form.aui h1,form.aui h2,form.aui h3,form.aui h4,form.aui h5,form.aui h6,
form.aui img,form.aui ul,form.aui ol,form.aui li,form.aui dl,form.aui dt,form.aui dd,form.aui pre,
form.aui fieldset,form.aui textarea,form.aui input,form.aui select,form.aui button,form.aui optgroup,form.aui option {
    margin: 0;
    padding: 0;
}
form.aui {
    color: #333;
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 13px;
    line-height: 1.4;
    position: relative;
}
form.aui textarea,form.aui select,form.aui optgroup,form.aui option,form.aui input.text {
    color: #000;
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 13px;
}
form.aui pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-family: monospace;
    font-size: 13px;
    overflow-x: auto;
    overflow-y: visible;
    padding: 15px;
}
form.aui img,form.aui a img,form.aui fieldset {
    border: none;
}
form.aui span {
    display: block;
}
form.aui span.inline-text {
    display: inline;
    margin-right: .25em;
}
form.aui p {
    margin-bottom: 5px;
}
form.aui p span {
    display: inline;
}
form.aui fieldset {
    border: 0;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
}
form.aui input[type='password'] {
    -webkit-appearance: caps-lock-indicator;
}
form.aui input,
form.aui select {
    margin-right: 5px;
    padding: 2px;
}
form.aui select {
    padding: 1px;
}
form.aui option {
    padding: 0 1em
}
form.aui textarea {
    overflow: auto;
    padding: 1px 2px;
}
form.aui input.button,
form.aui button {
    line-height: 1.2;
    margin-right: 5px;
    padding: 0 0.5em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari 3.0 and Chrome hacks here */
    form.aui button {
        padding: 0.1em 0.5em 0.5em;
    }

}
form.aui .hidden {
    display: none;
}
form.aui .error {
    color: #c00;
    font-weight: bold;
}
form.aui .description {
    font-size: 11px;
}
form.aui .field-value {
    color: #000;
    font-weight: bold;
    line-height: 1;
    padding-top: 4px;
}

/* headings */
form.aui h2 {
    border-bottom: 1px solid #ddd;
    clear: both;
    color: #222;
    font-size: 16px;
    margin: 10px 0;
}
form.aui h3 {
    clear: both;
    color: #222;
    font-size: 14px;
    margin: 5px 0;
}

/* legend,labels left hand width related items */
form.aui legend {
    display: none;
}
form.aui legend span {
    color: #333;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 3px;
    white-space: normal;
    width: 130px;
    text-align: right;
}
form.aui div {
    clear: both;
    display: block;
    margin-bottom: 5px;
    min-height: 1.6em;
    padding: 0 0 5px 140px;
}
form.aui div div {
    padding-left: 0;
}
form.aui div label {
    float: left;
    display: block;
    left: -140px;
    line-height: 1;
    margin-right: -130px;
    padding-top: 4px;
    position: relative;
    width: 130px;
    text-align: right;
}
/* could use with text-align:right above (not in ie6) form.aui label .label:after {
    content: ":"
}
*/
form.aui div.matrix {
    padding-top: 0;
    width: 600px;
}
form.aui div.matrix div {
    clear: none;
    float: left;
    width: 250px;
}

/* input default and fixed widths */
form.aui .text,
form.aui .textarea,
form.aui .select {
    width: 250px;
}
form.aui .short-field {
    width: 75px;
}
form.aui .medium-field {
    width: 165px;
}
form.aui .long-field {
    width: 500px;
}
/* select */
form.aui .multi-select {
    min-width: 250px;
}
form.aui .multi-select optgroup {
    background-color: #f8f8f8;
    color: #999;
    font-style: normal;
    font-weight: normal;
}
form.aui .multi-select optgroup option {
    background-color: #fff;
    color: #000;
}
/* date selects */
form.aui .date-select legend {
    display: block;
}
form.aui .date-select label {
    display: none;
}
/* submit div - outside the fieldsets */
form.aui .submit {
    border-top: 1px solid #ddd;
}
form.aui .submit input {
    margin: 10px 10px 0 0;
}
/* radios and checkboxes */
form.aui .radios div {
    padding-top: 0;
    padding-bottom: 0;
}
form.aui .radio input,
form.aui .checkbox input {
    border: none;
    float: left;
    margin-top: 2px;
    width: 15px;
}
form.aui .checkbox input {
    margin-top: 1px;
}
/* groups */
form.aui .group {
    position: relative;
}
form.aui .group .field-value {
    float: left;
    margin-right: .25em;
    min-width: 2.5em;
    padding-top: 0;
    line-height: inherit;
}
form.aui .group .field-value.checked {
    color: #693;
}
form.aui .group legend {
    display: block;
}
form.aui .group label,
form.aui .radio label,
form.aui .checkbox label {
    float: none;
    display: inline;
    left: 0;
    margin: 0;
    width: auto;
}
form.aui .radio .error,
form.aui .checkbox .error {
    margin-left: 19px;
}
form.aui .radio .description,
form.aui .checkbox .description {
    clear: both;
    margin-left: 19px;
}


/* long labels - add long-label class to form "aui long-label" */
form.aui.long-label legend span {
    width: 240px;
}
form.aui.long-label div {
    padding-left: 250px;
}
form.aui.long-label div label {
    left: -250px;
    margin-right: -240px;
    width: 240px;
}
form.aui.long-label .group label,
form.aui.long-label .radio label,
form.aui.long-label .checkbox label {
    left: 0;
    margin: 0;
    width: auto;
}
form.aui.long-label .group label {
    left: 0;
    margin: 0;
}
/* //long labels */

/* labels on top - add top-label class to form "aui top-label" */
form.aui.top-label fieldset {
    margin-bottom: 0;
}
form.aui.top-label div {
    padding-left: 0;
}
form.aui.top-label div label {
    float: none;
    left: 0;
    margin: 0 0 2px 0;
    width: auto;
    text-align: left;
}
form.aui.top-label .group {
    padding-top: .5em;
}
/* date selects and checkbox / radio groups */
form.aui.top-label .group legend span,
form.aui.top-label .date-select legend span {
    display: block;
    position: relative;
    top: 0;
    text-align: left;
    width: auto;
}
form.aui.top-label .date-select label {
    display: none;
}
/* //labels on top */

/* inline for small single line forms - add inline class to fieldset */
form.aui .inline {
    padding-bottom: 0;
}
form.aui .inline label {
    font-weight: bold;
}
form.aui .inline .form-icon {
    margin-right: 3px;
}
/* //inline */



/* form icons - add form-icon class together with the icon class "form-icon icon-help" */
form.aui .form-icon {
    background: transparent url(images/icons/aui-icon-forms.gif) no-repeat 0 0;
    display: inline-block;
    height: 16px;
    vertical-align: top;
    width: 16px;
    overflow: hidden;
}
form.aui .form-icon span {
    text-indent: 25px;/* this effectively hides the content of the span */
}
form.aui .form-icon img {
    height: 16px;
    width: 16px;
}
/* position icon sprite */
form.aui .icon-date {
    background-position: 0 -20px;
}
form.aui .icon-range {
    background-position: 0 -40px;
}
form.aui .icon-help {
    background-position: 0 -60px;
}
form.aui .icon-required {
    background-position: 0 -80px;
    width: 8px;
    height: 13px
}
form.aui .icon-users {
    background-position: 0 -100px;
}
/* FFX2 hack for icons - requirement to support FFX 2? */
form.aui .form-icon, 
x:-moz-any-link {
    display: inline;
    padding: 1px 8px;
}
form.aui .form-icon span, 
x:-moz-any-link {
    display: none;
}
form.aui .icon-required, 
x:-moz-any-link {
    padding: 0 4px;
}
