.aui-inline-dialog {
    font-size: 13px;
    display: none;
    position: absolute;
    z-index: 100;
}
.aui-inline-dialog .contents {
    background: white;
    border: 1px solid #bbb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    width: 300px;
}
.aui-inline-dialog .contents form.aui {
    margin-bottom: 0;
}
.aui-inline-dialog .contents .submit {
    margin: 0;
    padding: 0;
    text-align: right;
}
.aui-inline-dialog .arrow {
    background: transparent url(images/arrow.png) no-repeat 0 0;
    height: 16px;
    position: absolute;
    top: -7px; /* matches #inline-dialog-shim */
    width: 16px;
}

#inline-dialog-shadow {
    height: 0;
    left: -16px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
}
#inline-dialog-shadow * {
    position: absolute;
}
#inline-dialog-shadow .tl {
    background: url(images/shadow/lt.png);
    height: 17px;
    left: 0;
    top: 0;
    width: 16px;
}
#inline-dialog-shadow .tr {
    background: url(images/shadow/rt.png);
    height: 17px;
    right: 0;
    top: 0;
    width: 16px;
}
#inline-dialog-shadow .br {
    background: url(images/shadow/rb.png);
    bottom: 0;
    height: 29px;
    right: 0;
    width: 29px;
}
#inline-dialog-shadow .bl {
    background: url(images/shadow/lb.png);
    bottom: 0;
    height: 29px;
    left: 0;
    width: 29px;
}
#inline-dialog-shadow .b {
    background: url(images/shadow/b.png);
    bottom: 0;
    height: 29px;
    left: 29px;
    width: 29px;
}
#inline-dialog-shadow .l {
    background: url(images/shadow/l.png);
    left: 0;
    top: 17px;
    width: 16px;
}
#inline-dialog-shadow .r {
    background: url(images/shadow/r.png);
    right: 0;
    top: 17px;
    width: 16px;
}

#inline-dialog-shim {
    display: none;
}
