/**
* The structure of this file pre-supposes two conditions:
* - That the file is served via a conditional comment of [if IE]
* - That de-bugging starts with IE8 and moves down through IE7 to IE6
**/


/**
* Fixes for IE8, IE7 and IE6
* - each property should be written without CSS hacks
* eg: 
.dashboard {
    margin: 0 0 2px 1px;
}
*
**/


/**
* Fixes for IE7 and IE6
* - each property *must* be prefixed with an asterisk (*)
* eg: 
.dashboard {
    *margin: 0 0 4px 2px;
}
*
**/
form.aui span.inline-text {
    *position: relative; 
    *top: -4px
}
form.aui .radio input,
form.aui .checkbox input {
    *margin-top: -2px
}
form.aui .radio .description,
form.aui .checkbox .description {
    *clear: both;
}
form.aui.top-label .group legend span,
form.aui.top-label .date-select legend span {
    *left: -9px; 
    *top: -3px;
}
form.aui .group .field-value {
    *padding-top: 3px; 
    *line-height: 1;
}

/**
* Fixes for IE6 only
* - each property *must* be prefixed with an underscore (_)
* eg: 
.dashboard {
    _margin: 0 0 0 1px;
    _padding: 0 0 -3px 0;
}
*
**/
form.aui div {
    _height: 1.6em;
}
form.aui .group .field-value {
    _width: 2em;
}
form.aui .group label,
form.aui .radio label,
form.aui .checkbox label {
    _margin-top: 1px;
    _position: static;
}
form.aui .radio .error,
form.aui .checkbox .error {
    _margin-left: 20px;
}
form.aui .radio .description,
form.aui .checkbox .description {
    _margin-left: 24px;
}
form.aui pre {
    _width: 95%;
}

