/**
* The structure of this file pre-supposes two conditions:
* - That the file is served via a conditional comment of [if IE]
* - That de-bugging starts with IE8 and moves down through IE7 to IE6
**/


/**
* Fixes for IE8, IE7 and IE6
* - each property should be written without CSS hacks
* eg: 
.dashboard {
    margin: 0 0 2px 1px;
}
*
**/

/* inline-dialog-shim */
#inline-dialog-shim {
    border: none;
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -2;
}


/**
* Fixes for IE7 and IE6
* - each property *must* be prefixed with an asterisk (*)
* eg: 
.dashboard {
    *margin: 0 0 4px 2px;
}
*
**/


/**
* Fixes for IE6 only
* - each property *must* be prefixed with an underscore (_)
* eg: 
.dashboard {
    _margin: 0 0 0 1px;
    _padding: 0 0 -3px 0;
}
*
**/
#inline-dialog-shadow {display:none!important;}
